.container{
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.submit button{
  width: 185px;
    height: 35px;
    background: black;
    color: white;
}

.first-last {
  display: flex;
  
}
.releving-joining {
  display: flex;
  margin-top: 20px;
}
.contact-dob {
  display: flex;
  margin-top: 20px;
}
.upload-doc {
  display: flex;
  margin-top: 20px;
}
.permanent-address {
  display: flex;
  margin-top: 20px;
}
.first-last {
  display: flex;
}

.form-wrapper{
  text-align:  center;
}

.table-wrap{
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin-left: 150px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.list-header {
  display: flex;
  justify-content: space-around;
}

.add-btn {
margin-top: 25px;
}
.add-btn button {
background: green;
color: #ffff;
border-radius: 4px;
width: 150px;
height: 36px;
}
.edit-btn button {
background: blue;
color: #ffff;
border-radius: 4px;
width: 90px;
height: 36px;
}
.delete-btn button {
background: rgb(0, 255, 98);
color: #ffff;
border-radius: 4px;
width: 90px;
height: 36px;
}

.topbar{
  display: flex;
    margin-left: 180px;
}
.topbar h2{
  color: green;
  margin-right: 30px;
}
.list-heading {
  text-align: justify;
  margin-left: 180px;
}
.list-heading h2{
  color: green;
}